// color
$primary-weight: #00334e;
$primary: #145374;
$primary-light: #5588a3;
$primary-mini: #e8e8e8;

$light: #fff;


// Header
$header-bg: linear-gradient(to right, $primary-weight 0%, $primary-light 100%);