
// 移動端管理所有px距離的共用函數
@function to-rem($px) {
  @return ($px / 16px) * 1rem;
}

// 斷點共用函數
@mixin position ($type, $top: n, $right: n, $bottom: n, $left: n) {
  position: $type;

  @if $top != n {
    top: $top;
  }

  @if $right != n {
    right: $right;
  }

  @if $bottom != n {
    bottom: $bottom;
  }

  @if $left != n {
    left: $left;
  }
}