@import "./share";

html {
  font-size: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", "Microsoft YaHei", "Microsoft JhengHei", "Heiti", "Microsoft YaHei Bold", sans-serif;
  font-weight: normal;
  line-height: 1;
  // color: $base;
  // background-color: $body-bg;
}

* {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: 0;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}