.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 76px;
  background-color: #4A90E2;
}
.title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.title-text {
  font-size: 24px;
  font-weight: 600;
  height: 50%;
  &:hover {
    color: #fff;
    cursor: pointer;
    border-bottom: 2px solid #00408B;
  }
}
.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}
.task__add {
  width: 620px;
  height: 65px;
  font-size: 20px;
  border-radius: 5px;
}
.task__btn {
  width: 40px;
  height: 30px;
  margin-left: 20px;
  border-radius: 5px;
  &:hover {
    background-color: #fff2dc;
    cursor: pointer;
  }
}
.task__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.task__list__li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.list__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 620px;
  height: 102px;
  margin-top: 24px;
  background-color: #f2f2f2;
  &:hover {
    background-color: #fff2dc;
    cursor: pointer;
  }
}
.text__todo {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 70%;
  height: 100%;
}
.todo_icon {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.text__icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 100%;
}
.footer {
  margin-top: 24px;
}
