@import '@/assets/scss/share.scss';

.header__wrap {
  background: $header-bg;
}

.nav-item {
  margin-right: to-rem(32px);
}

.navbar-nav .nav-item a {
  color: var(--white);

  &:hover {
    text-decoration: none;
  }
}

.router-link-active {
  color: var(--white);

  &:hover {
    text-decoration: none;
  }
}